.proyecto__contenido--img{
    
    margin: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    border: 1px outset black;
    transition: 1s;
}
.proyecto__contenido--img:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
@media screen and (min-width: 0) {
    .proyecto__contenido--img{
        width: 18rem;
        height: 10rem;
    }
}
@media screen and (min-width: 768px) {
    .proyecto__contenido--img{
        width: 21rem;
        height: 13rem;
    }
}
@media screen and (min-width: 992px) {
    .proyecto__contenido--img{
        width: 24rem;
        height: 16rem;
    }
}