.habilidad__texto{
    font-family: var(--tilt-neon);
    color: var(--dark-grey);
    transition: 0.5s;
}
.habilidad__texto:hover{
    color:var(--negro-titulo);
    background: white;
    
}
@media screen and (min-width: 0) {
    .habilidad__texto{
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 768px) {
    .habilidad__texto{
        font-size: 1.05rem;
    }
}